{
    "version": "0.0.1",
    "configurations": [
        {
            "name": "casetrack",
            "runtimeExecutable": "REPLACE-WITH-ABSOLUTE-PATH-TO/herd-lite/bin/php.exe",
            "runtimeArgs": ["artisan", "serve", "--port=8123"],
            "port": 8123
        }
    ]
}
